@charset "utf-8";



.mod-contentsmenu {
    .imgs {
        right: -12%;
        &.sp-ajast {
            top: 15px;
            right: 0;
        }
        img {
            width: 500px;
        }

    }
}

.list {
    &.list-valign {
        display: block;
        li {
            width: 100%;
        }
    }

}