@charset "utf-8";

/** Keyvisual
---------------------------------
---------------------------------
*/
.mod-keyvisual {
    height: 580px;
    .wgt-scroll_icons {
        bottom: 70px;
    }
    .copy {

        &.bg-white {
            top: 57%;
        }
    }
}


.mod-contentsmenu {
    .imgs {
        right: -12%;
        &.sp-ajast {
            top: 0;
            right: -14%;
        }
        img {
            width: 500px;
        }

    }
}
.mod-grouplist {
    .grouplist {
        .group-compnay {
            .label {
                height: 60px;
                img {
                    width: 80%;
                }
            }
        }
    }
}